@model wqa.Models.QAWatsonError
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>ASP.NET 5 Watson QA Starter Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
</head>
<body align="center">
    <h1> @Model.Error </h1>
</body>
</html>
<div>
    @Html.ActionLink("Try again!", "Index")
</div>
